<div style="width:100px;min-height:90px;" class="cmd #history# tooltips cmd-widget" data-type="action" data-subtype="slider" data-cmd_id="#id#" title="#collectDate#">
    <center>
        <span style="font-size: 3em;font-weight: bold;margin-top: 5px;" class="iconCmd">
            <img class="autoonoffImg" style="width: 80px;" src="plugins/ChauffeEau/core/template/images/AutoOnOffCommut_AUTO.png" />
        </span>
    </center>
    <script>
        var valeur=0;
        jeedom.cmd.update['#id#'] = function(_options){
            $('.cmd[data-cmd_id=#id#]').hide();
            if ('#state#' == '1' && '#logicalId#'== 'armed') {
                    $('.cmd[data-cmd_id=#id#]').show();
                    $('.cmd[data-cmd_id=#id#] .iconCmd .autoonoffImg').attr('src','plugins/ChauffeEau/core/template/images/AutoOnOffCommut_ON.png');

            } else if ('#state#' == '2' && '#logicalId#'== 'auto') {
                    $('.cmd[data-cmd_id=#id#]').show();
                    $('.cmd[data-cmd_id=#id#] .iconCmd .autoonoffImg').attr('src','plugins/ChauffeEau/core/template/images/AutoOnOffCommut_AUTO.png');

            } else if ('#state#' == '3' && '#logicalId#'== 'released') {
                    $('.cmd[data-cmd_id=#id#]').show();
                    $('.cmd[data-cmd_id=#id#] .iconCmd .autoonoffImg').attr('src','plugins/ChauffeEau/core/template/images/AutoOnOffCommut_OFF.png');
            }
        }
        var nextValue=
        $('.cmd[data-cmd_id=#id#] .iconCmd').off().on('click', function () {
            jeedom.cmd.execute({id: '#id#', slider: parseFloat('#state#')+1});
        });
    </script>
</div>
